In [18]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score, KFold
import pickle

In [2]:
data = pd.read_csv("Forest_fire.csv")
data

         Area  Oxygen  Temperature  Humidity  Fire Occurrence
0    Jharkand      40           45        20                1
1   Bangalore      50           30        10                1
2     Ecuador      10           20        70                0
3           a      60           45        70                1
4   Bangalore      30           48        10                1
5           c      50           15        30                0
6          de       5           35        35                0
7         asd       5           20        70                0
8     Ecuador      60           32        19                1
9           r      30           50        45                1
10          t      40           55        80                1
11          y      30           39       100                0
12   Jharkand      10           12        12                0
13  Bangalore      20           23        23                0
14    Ecuador      60           34        15                1
15     canada      80            4        68                0
16          c      25           56        79                1
17          c      12           45        90                0
18        asd      28           43        15                1
19        asd      26            0        32                0
20         ad      32           37        21                1
21       sasd      45           48        12                1
22        asd      56           15        65                0
23      asdas      67           45        33                1
24        das      78           49         8                1
25        das      89           45        18                1
26        ads      21           12        44                0
27        ads      11           20        59                0
28        asd       1           32        70                0
29        NaN       5           20        45                0
30        NaN      42           43        20                1
31        NaN      32           60        30                1
32        NaN       5           15         5                0
33        NaN      20           30         5                0
34        NaN      30           51         2                1
35        NaN      60           60        10                1
36        NaN      10           10        60                0
37        NaN       0           30         0                0
38        NaN      45           45        15                1

In [3]:
data = np.array(data)
X = data[1:, 1:-1]
Y = data[1:, -1]
Y = Y.astype('int')
X = X.astype('int')
print('X shape: ', X.shape)
print('Y shape: ', Y.shape)

X shape:  (38, 3)
Y shape:  (38,)

In [4]:
# train test split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [24]:
# Logistic Regressor
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [25]:
kfold = KFold(n_splits = 5, random_state = 7, shuffle=True)

In [26]:
# testing
result = cross_val_score(model, x_test, y_test, cv=kfold)
print("Accuracy :", result.mean())

Accuracy : 0.7666666666666666

In [27]:
# saving the ML model in pickle format
pickle.dump(model,open('model.pkl','wb'))